<h2><%= @restaurant.title %></h2>

<h3>Food Type</h3>
<p><%= @restaurant.food_type %></p>

<h3>Address</h3>
<p><%= @restaurant.address %></p>

<h3>Description</h3>
<p><%= @restaurant.description %></p>

<%= link_to "Back", :back %>