<!DOCTYPE html>
<html>
  <head>
    <title>Rails01Restaurants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Abril+Fatface", 
    media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <% unless action_name == "index" %>
      <%= render 'layouts/navbar' %>
    <%# end %>

    <%# <% if flash[:notice] %>
      <%# <div class="notice"><%= flash[:notice] %> 
    <%# <% end %>
    <%= yield %>
  </body>
</html>
